[Unit]
Description=Webtutor LDAP Authentication daemon
After=network.target

[Service]
User={{ app_user }}
Group={{ app_user }}
UMask=0002
WorkingDirectory={{ app_path }}
#ExecStartPre=export $(cat .env | xargs)
EnvironmentFile={{ app_path }}/.env
ExecStart={{ app_path }}/.venv/bin/python main.py
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=on-failure

[Install]
WantedBy=multi-user.target

