[Unit]
Description=Node Exporter
After=network.target
[Service]
User=nobody
#Group=node_exporter

#EnvironmentFile=/etc/sysconfig/node_exporter
#ExecStart=/usr/sbin/node_exporter $OPTIONS
ExecStart=/usr/local/sbin/node_exporter

[Install]
WantedBy=multi-user.target
