[Unit]
Description=Node Exporter
Wants=network-online.target
After=network-online.target
#After=network.target
[Service]
User=node-exporter
#Group=node_exporter
Type=simple
#EnvironmentFile=/etc/sysconfig/node_exporter
#ExecStart=/usr/sbin/node_exporter $OPTIONS
# ExecStart=/usr/local/sbin/node_exporter
ExecStart=/usr/local/sbin/node_exporter --web.config.file=/etc/node-exporter/config.yml
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
